---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">HUE are we?</h3>
    
    We are the Human-centric Urban Environments (HUE) lab. Based in the Singapore University of Technology and Design, we conduct research at the crossroads of architectural design, indoor environmental quality, and human performance. We aim to gain a better understanding of the relationships between thermal and acoustic comfort, indoor air quality, lighting, and energy efficiency and how they affect human well-being, health, and productivity in urban settings through our research. Our research projects aim to develop new strategies and technologies for joyful buildings that are not only comfortable and healthy, but also contribute to sustainability by reducing environmental impact.
  
    Contact us for research exchange, collaborations, open positions! 
    
  </div>
</div>
