---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Comfort | Health | Happiness</h3>
    Welcome to the Human-centric Urban Environments (HUE) lab, where we conduct research on human-centered urban environments with a focus on people's comfort, health, and happiness. We work at the crossroads of architectural design, indoor environmental quality, and human performance. We can gain a better understanding of the relationships between thermal and acoustic comfort, indoor air quality, lighting, and energy efficiency and how they affect human well-being, health, and productivity in urban settings through our research. Our research projects aim to develop new strategies and technologies for joyful buildings that are not only comfortable and healthy, but also contribute to sustainability by reducing environmental impact.
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/Asset 4HUE-white-rect.png" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
