---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Join the HUE Lab!</h3>
    
    Interested in our research at HUE Lab?
    <p>
    We are always on the lookout for enthusiastic, curious individuals who are ready and eager to join our team. 
    <p>
    Please <a href="mailto:geraldine_quek@sutd.edu.sg">email Dr. Geraldine Quek</a> to know more and discuss potential hiring and collaborations. Scholarships, research funding, stipends and grant affiliation are available.
    <p>
    ---
    <p>
    Open positions (if any) are listed here:
    
  </div>
</div>
