---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Team</h3>
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-xs-6 col-sm-3">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
  <div class="col-xs-6 col-sm-9">
    <h5>{{ person.name }}</h5>
    <p>{{ person.title }}</p>
    <p>{{ person.department }}</p>
    <p>{{ person.institution }}</p>
    <p>Email: {{ person.email }}</p>
    <p><a href="{{ site.github.url }}/people/{{ person.url }}">Biography</a></p>
  </div>
</div>
{% endfor %}

<h3 class="fw-bold border-bottom pb-3 mb-5">Collaborators</h3>
{% for person in site.data.settings.collaborators %}
<div class="row g-5 mb-5">
  <div class="col-xs-6 col-sm-3">
    <img src="{{ site.github.url }}/{{ person.image }}" alt="Contact" width="100%">
  </div>
  <div class="col-xs-6 col-sm-9">
    <h5>{{ person.name }}</h5>
    <p>{{ person.title }}</p>
    <p>{{ person.department }}</p>
    <p>{{ person.institution }}</p>
  </div>
</div>
{% endfor %}